<h3 class="title_activities"> Activities </h3>
<div class="buttons">
  <a class="btn-min" href="/schedule">Manage Schedule</a>
  <a class="btn" href="/task">New task</a>
</div>
<canvas id="activitychart" width="100" height="200" ng-init="renderCanvas()"></canvas>
<div class="tile_pane"></div>
