  <aside class="text">
    <div>
      <h3>Get your life back under control.</h3>
      <p>Create schedules, train yourself, and increase productivity, all in one simple app.</p>
      <a href="/signup" class="btn">Create Account</a><a href="/login" class="btn-min">Login</a>
    </div>
  </aside>
  <aside class="images"></aside>
