<main>
  <header>
    <span class="title">Tempus</span>
    <a href="#login" class="btn">Login</a>
    <p>Already have an account?</p>
  </header>
  <div class="content">
    <aside class="text">
      <div>
        <h3>Get your life back under control.</h3>
        <p>Create schedules, train yourself, and increase productivity, all in one simple app.</p>
<<<<<<< HEAD
        <a href="/signup" class="btn">Create Account</a><a href="/login" class="btn-min">Login</a>
=======
        <a href="#signup" class="btn">Create Account</a><a href="#login" class="btn-min">Login</a>
>>>>>>> bonnie
      </div>
    </aside>
    <aside class="images">

    </aside>
  </div>
</main>
<footer>
</footer>
