<!DOCTYPE html>
<html ng-app="tempus" ng-controller=<% if(logged_in){%>"activities"<% }else{%>"home"<%}%>>

<head>
  <base href="/">
  <title>
    <%= title %>
  </title>
  <!--Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Oswald" rel="stylesheet">
  <!--StyleSheet -->
  <link rel='stylesheet' href='/stylesheets/app.css' />
  <!-- JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
  <script src="/javascripts/angular/angular.min.js"></script>
  <script src="/javascripts/angular/angular-route.min.js"></script>
  <script src="/javascripts/angular/angular-animate.min.js"></script>
</head>

<body class="<% if(logged_in){%>admin<% } %>">
  <main >
    <!-- Header -->
    <header>
      <a href="/" class="title">Tempus</a>
        <div class="header-timer" style="display:none">
        <div class="time"></div>
        <div class="timer-text"></div>
      </div>
      <a href="/login" class="btn">Login</a>
      <p>Already have an account?</p>
    </header>
    <div class="content-wrapper">
      <div class="content fade" ng-view></div>
    </div>
  </main>
  <footer>
    Made with &heart; at PennApps XIV
  </footer>
  <div class="noti"></div>
</body>
<% if(logged_in){ %>
  <% include task %>

  <script type="text/ng-template" id="activities.html">
    <% include activities %>
  </script>
  <script type="text/ng-template" id="schedule.html">
    <% include schedule %>
  </script>
  <script>
  window.current_user = "<%= user %>";
  </script>
  <script src="/javascripts/appAdmin.js"></script>

  <% } else{ %>
    <script type="text/ng-template" id="login.html">
      <% include login %>
    </script>
    <script type="text/ng-template" id="signup.html">
      <% include signup %>
    </script>
    <script type="text/ng-template" id="home.html">
      <% include home %>
    </script>
    <script src="/javascripts/app.js"></script>
    <% } %>

</html>
