<main class="login">
	<div> 
		<p> TEMPUS </p>
		<input placeholder ="Email" class="email"> <br>
		<input placeholder="Password" class="password"><br>
		<button class="submit"> Submit </button>
	</div>
</main>




