<div class="login">
	<h3>Login to Tempus</h3>
	<form class="login_form">
	<input type="email" placeholder="Email" ng-model="user.email" required>
	<input type="password" placeholder="Password" ng-model="user.password" required>
	<div class="buttons">
		<button class="btn"> Login </button>
		<a href="/" class="btn-min"> Back </a>
	</div>
</form>
</div>
