<h3 class="title_schedule"> Schedule </h3>
<div class="schedule_wrapper">
<div class="morning_box">
	<ul>
		<li> 12:00 AM </li>
		<li> 1:00 AM </li>
		<li> 2:00 AM </li>
		<li> 3:00 AM </li>
		<li> 4:00 AM </li>
		<li> 5:00 AM </li>
		<li> 6:00 AM </li>
		<li> 7:00 AM </li>
		<li> 8:00 AM </li>
		<li> 9:00 AM </li>
		<li> 10:00 AM </li>
		<li> 11:00 AM </li>
	</ul>
	</div>
<div class="transparent_box"></div>
<div class="afternoon_box">
	<ul>
		<li> 12:00 PM </li>
		<li> 1:00 PM </li>
		<li> 2:00 PM </li>
		<li> 3:00 PM </li>
		<li> 4:00 PM </li>
		<li> 5:00 PM </li>
		<li> 6:00 PM </li>
		<li> 7:00 PM </li>
		<li> 8:00 PM </li>
		<li> 9:00 PM </li>
		<li> 10:00 PM </li>
		<li> 11:00 PM </li>
	</ul>
</div>
</div>

