<h3 class="title_activities"> Schedule </h3>
<div class="buttons">
	<p>Select a task, then select the amount of hours you are allocating to the task.</p>

  <a class="btn-min" href="/">Back</a>
  <a class="btn" ng-click="create()">Save</a>
</div>
<div class="schedule_wrapper">
<div class="morning_box">
	<ul>
		<li data-time="0"> 12:00 AM </li>
		<li data-time="1"> 1:00 AM </li>
		<li data-time="2"> 2:00 AM </li>
		<li data-time="3"> 3:00 AM </li>
		<li data-time="4"> 4:00 AM </li>
		<li data-time="5"> 5:00 AM </li>
		<li data-time="6"> 6:00 AM </li>
		<li data-time="7"> 7:00 AM </li>
		<li data-time="8"> 8:00 AM </li>
		<li data-time="9"> 9:00 AM </li>
		<li data-time="10"> 10:00 AM </li>
		<li data-time="11"> 11:00 AM </li>
	</ul>
	</div>
<div class="transparent_box">
	<div ng-repeat="task in tasks" class="task-item {{task.style}}" data-style="{{task.style}}" data-name="{{task.name}}" ng-click="addCurrent($event, this)">{{task.name}}</div>
</div>
<div class="afternoon_box">
	<ul>
		<li data-time="12"> 12:00 PM </li>
		<li data-time="13"> 1:00 PM </li>
		<li data-time="14"> 2:00 PM </li>
		<li data-time="15"> 3:00 PM </li>
		<li data-time="16"> 4:00 PM </li>
		<li data-time="17"> 5:00 PM </li>
		<li data-time="18"> 6:00 PM </li>
		<li data-time="19"> 7:00 PM </li>
		<li data-time="20"> 8:00 PM </li>
		<li data-time="21"> 9:00 PM </li>
		<li data-time="22"> 10:00 PM </li>
		<li data-time="23"> 11:00 PM </li>
	</ul>
</div>
</div>
