<div class="signup">
	<h3>Create Account</h3>
	<input placeholder="Name" class="name">
	<input placeholder="Email" class="email">
	<input placeholder="Password" class="password">
	<div class="buttons">
		<button class="btn"> Create Account </button>
		<a href="#/" class="btn-min"> Back </a>
	</div>
</div>
