<h3 class="title_activities"> Create Your Activity! </h3>
<div class="white_box">
	<div class="fill_name">
		<div class="tname"> Name of Task: </div>
		<input placeholder="" class="name"></br>
	<label>
		<input type="checkbox">
		Enable SMS reminders
	</label>
	<div class="ttitle"> Task Color </div>
	<hr color="black" width="100%" style="opacity: 0.1">
	<div class="buttons">
		<div class="circular purple_paradise"></div>
		<div class="circular frost_dblue"></div>
		<div class="circular twitch_dpur"></div>
		<div class="circular curiosity_blue"></div>
		<div class="circular reef"></div>
		<div class="circular joomla"></div>
		<div class="circular aqua_marine"></div>
		<div class="circular electric_violet"></div>
		<div class="circular pinot_noir"></div>
		<div class="circular emerald_water"></div>
	</div>

	<div class="save_back">
		<div class="btn"> Save </div>
		<a class="btn bb" href="/"> Back </a>
	</div>

</div>
