<h3 class="title_activities"> Create Your Activity </h3>
<div class="white_box_wrapper">
	<div class="white_box">
		<form>
		<div class="fill_name">
			<div class="tname"> Name of Task: </div>
			<input placeholder="Task name" class="name" ng-model="task.name" required>
			<label>
				<input type="checkbox" ng-model="task.sms">
				Enable SMS reminders
			</label>
			<div class="ttitle"> Task Color </div>
			<hr color="black" width="100%" style="opacity: 0.1">
			<div class="buttons">
				<div class="circular purple_paradise selected"></div>
				<div class="circular frost_dblue"></div>
				<div class="circular twitch_dpur"></div>
				<div class="circular curiosity_blue"></div>
				<div class="circular reef"></div>
				<div class="circular joomla"></div>
				<div class="circular aqua_marine"></div>
				<div class="circular electric_violet"></div>
				<div class="circular pinot_noir"></div>
				<div class="circular emerald_water"></div>
			</div>

			<div class="save_back">
				<button class="btn"> Save </button>
				<a class="btn bb" href="/"> Back </a>
			</div>
		</div>

		</div>
	</div>
